:root {
    --black: #000000;
    --white: #fff;
    --dark-grey: #212529;
    --lightgrey: rgb(167, 167, 167);
    --white: white;
    --medgrey:  rgb(95, 95, 95);
    --logoOrange: #f26b3a;
    --logoBlue: #266cb0;
    --extralightgrey: #D3D3D3;
    --silk: #fdf5e6;
  }

.homeBody{
    background-color:  var(--dark-grey);
    height: 100vh;
    width: 1100px;
    max-width: 1100px;
position: absolute;
top: 50%; 
left: 50%; 
transform: translate(-50%, -50%);
}

.homePhoto{
    filter: grayscale(70%);
    opacity: 99%;
    position: fixed;
    width: auto;
    height: 95%;
    max-height: 1500px;
    margin-left: 120px;
    z-index: 99;
    bottom: 0px !important;
}


.nameHomeBox{
    text-align: right;
    left: 470px;
    position: relative;
    top:100px;
    height: auto;
    z-index: 99;
    margin-top: 10%;
    
}

.nameHome{
    color: var(--silk);
    font-size: 170px;
    font-weight: 100;
    margin-top: -75px;
    margin-bottom: 0px;
    text-align: left;
}

.nameHome{
    color: var(--silk);
    font-size: 170px;
    font-weight: 100;
    margin-top: -75px;
    margin-bottom: 0px;
    text-align: left;
}

.nameHome{
    color: var(--silk);
    font-size: 170px;
    font-weight: 100;
    margin-top: -75px;
    margin-bottom: 0px;
    text-align: left;
}

.nameHome:hover{
    color:#ff32ff;
}


.nav-link{
    color: var(--silk) !important;
}

.bubbleHome{

    position: absolute;
    z-index: 7;
    margin-top: -500px;
    margin-left: 20VW;
    max-width: 800px;
  
  }


.shift1{
    animation-duration: 45s;
    animation-iteration-count: infinite;
    animation-name: shift-1;
    animation-timing-function: ease;
  }
  
  .shift2{
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-name: shift-2;
    animation-timing-function: ease;
  
  }
  
  .shift3{
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-name: shift-3;
    animation-timing-function: ease;
  
  }
  
  .shift4{
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-name: shift-4;
    animation-timing-function: ease;
  
  }
  
  
  
  .bubble1{
    margin-top: -50px;
    margin-left: 450px;
    border-bottom: 10px solid #212529;
    z-index: 7;
  
  
  }
  
  .bubble2{
    margin-top: 40px;
    margin-left: 96px;
    border-bottom: 10px solid rgb(95,95,95);
    z-index: 7;
    animation-delay: 3000ms;
  
  }
  
  .bubble3{
    margin-top: 375px;
    margin-left: 250px;
    border-bottom: 10px solid #ff32ff;
    z-index: 7;
    animation-delay: 6000ms;
  }
  
  .bubble4{
    margin-top: 400px;
    margin-left: 370px;
    background-color: #212529;
    z-index: 7;
    animation-delay: 200ms;
  }
  
  .bubble5{
    margin-top: 475px;
    margin-left: 600px;
    border-bottom: 10px solid rgb(95,95,95);
    z-index: 7;
    animation-delay: 1000ms;
  
  }
  
  .bubble6{
    margin-top: 460px;
    margin-left: 500px;
    border-bottom: 10px solid #ff32ff;
    z-index: 7;
    animation-delay: 700ms;
  }
  
  .bubble7{
    margin-top: 90px;
    margin-left: 600px;
    border-bottom: 10px solid #212529;
    z-index: 7;
    animation-delay: 4200ms;
  }
  
  .bubble8{
    margin-top: -30px;
    margin-left: 630px;
    height:10px;
    width: 10px;
    border-radius: 10px ;
    border-bottom: 10px solid rgb(95,95,95);
    z-index: 7;
    animation-delay: 1110ms;
  }
  
  .bubble9{
    margin-top: 30px;
    margin-left: 230px;
    border-bottom: 10px solid #ff32ff;
    z-index: 7;
    animation-delay: 270ms;
  }
  
  .bubble10{
    margin-top: 300px;
    margin-left: 450px;
    border-bottom: 10px solid #212529;
    z-index: 7;
    animation-delay: 4000ms;
  }
  
  .bubble11{
    margin-top: 550px;
    margin-left: 150px;
    border-bottom: 10px solid #212529;
    z-index: 7;
    animation-delay: 300ms;
  }
  
  .bubble12{
    margin-top: 340px;
    margin-left: 596px;
    border-bottom: 10px solid rgb(95,95,95);
    z-index: 7;
    animation-delay: 500ms;
  
  }
  
  .bubble13{
    margin-top: 420px;
    margin-left: 50px;
    border-bottom: 10px solid #ff32ff;
    z-index: 7;
    animation-delay: 530ms;
  }
  
  .bubble14{
    margin-top: 200px;
    margin-left: 370px;
    background-color: #212529;
    z-index: 7;
    animation-delay: 50ms;
  }
  
  .bubble15{
    margin-top: 480px;
    margin-left: 10px;
    border-bottom: 10px solid rgb(95,95,95);
    z-index: 7;
  
  }
  
  .bubble16{
    margin-top: 160px;
    margin-left: 700px;
    border-bottom: 10px solid #d3d3d3;
    z-index: 7;
    animation-delay: 4000ms;
  
  }
  
  .bubble17{
    margin-top: 590px;
    margin-left: 600px;
    border-bottom: 10px solid #ff32ff;
    z-index: 7;
    animation-delay: 2000ms;
  
  }
  
  .bubble18{
    margin-top: 280px;
    margin-left: 390px;
    border-bottom: 10px solid #ff32ff;
    z-index: 7;
    animation-delay: 400ms;
  
  }
  
  .bubble19{
    margin-top: 150px;
    margin-left: 30px;
    border-bottom: 10px solid #ff32ff;
    z-index: 7;
    animation-delay: 123ms;
  
  }
  
  @keyframes shift-1 {
    0%   { transform: translateY(0); }
    30%  { transform: translateY(-100px) translateX(-100px); }
    50%  { transform: translateY(300px) translateX(-200px); }
    100% { transform: translateY(0); }
  }
  
  @keyframes shift-2 {
    0%   { transform: translateY(0); }
    30%  { transform: translateY(-200px); }
    50%  { transform: translateY(400px) translateX(25px);}
    100% { transform: translateY(0); }
  }
  
  @keyframes shift-3 {
    0%   { transform: translateY(0); }
    50%  { transform: translatex(400px);}
    100% { transform: translateY(0); }
  }
  
  
  @keyframes shift-4 {
    0%   { transform: translateY(0); }
    20%  { transform: translateY(200px) translateX(200px);}
    40%  { transform: translateY(400px) translateX(20px);}
    60%  { transform: translateY(200px) translateX(-1500px);}
    80%  { transform: translateY(50px) translateX(140px);}
    90%  { transform: translateY(200px) translateX(-100px);}
    100% { transform: translateY(0); }
  }

