:root {
    --black: #000000;
    --white: #fff;
    --dark-grey: #212529;
    --lightgrey: rgb(167, 167, 167);
    --white: white;
    --medgrey:  rgb(95, 95, 95);
    --logoOrange: #f26b3a;
    --logoBlue: #266cb0;
    --extralightgrey: #D3D3D3;
    --silk: #fdf5e6;
  }


.workTitle{
    color: var(--silk);
}

.workBody{
  position: relative;
    height: 100vh;
    width: 100vw;
left: 50%; 
transform: translate(-50%);
background-color: var(--dark-grey) !important;

}

.workTitle{
  /* z-index: ; */
  height: 150px;
  width: 100vw;
  display:flex;
  justify-content: center;
  margin-bottom: 50px;

}

.workTitleText{
  font-size: 100px;
  color: var(--silk);
  z-index: 9;
  height: 150px;
  text-align: center;
}

.workTitleBox{
  background-image: linear-gradient(to left, #743ad5, #d53a9d);
  position: absolute;
  height: 40px;
  width: 420px;
  margin-left:150px;
  top: 90px;
  z-index: 8;
  border-radius: 1px;
  
}

.workSectionBorder{
    z-index: 10;
  position:absolute;
  width: 800px;
  z-index: 8;
  height: 600px;
  border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;
  background-color: #743ad5 ;
  left: 200px;
  /* background-image: linear-gradient(to left, #743ad5, #d53a9d); */
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
  
}